<label for="thread-title">
	<div class="row">
  		<div class="col-lg-12">
    		<input id="it-thread-title" type="text" class="form-control" placeholder="Thread Title">
  		</div>
	</div>
</label>
<div>
	<a href="#/threads" id="btn-add-thread" class="btn btn-primary btn-lg active" role="button">Add</a>
</div>