<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Simplechat.Data.ConnectionStrings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Simplechat.Data.ConnectionStrings>
      <setting name="MongoLabRemoteServer" serializeAs="String">
        <value>mongodb://sysadm:qweasdyxc@ds041671.mongolab.com:41671/simplechat</value>
      </setting>
      <setting name="MongoDbDefault" serializeAs="String">
        <value>simplechat</value>
      </setting>
      <setting name="MongoDbLocalServer" serializeAs="String">
        <value>mongodb://127.0.0.1</value>
      </setting>
    </Simplechat.Data.ConnectionStrings>
  </userSettings>
</configuration>