thead tr th {
	border: 2px inset;
	font-size: 25px;
}

.price {
	text-align: center;
}

.ranges {
	font-size: 25px;
}

.ranges td {
	padding: 30px;
}

.macbooks, .ranges {
	border: 1px inset;
	font-weight: bold;
}