html, body {
	font: 14px Arial, Helvetica, sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

#wrapper header {
	background: url("images/header-bg.png");
	border-bottom: 5px solid #39c518;
}

#title {
	float: left;
}

#title h1 {
	font-size: 34px;
	color: #eeffee;
	margin: 0;
	padding: 34px 20px 0 21px;
}

#title h2 {
	font-size: 14px;
	color: #c0c0c0;
	font-weight: normal;
	margin: 0;
	padding-left: 19px;
	padding-bottom: 20px;
}

#nav {
	float: right;
	padding-top: 42px;
}

#nav ul li {
	display: inline;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #cc6600;
	padding: 20px 29px 20px 8px;
	margin: 0 0 0 -19px;
}

#content {
	float: left;
	width: 760px;
	color: #555555;
}

#content h1 {
	font-size: 30px;
	color: #59770e;
}

#aside {
	float: left;
	width: 199px;
	margin-top: 19px;
	font-weight: bold;
	text-transform: uppercase;
	color: #59770e;
}

#aside input {
	padding-top: 5px;
	width: 157px;
}