html, body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #575e5b;
	margin: 0 0 0 2px;
}

#wrapper {
	width: 960px;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.clear {
	clear: both;
}

#wrapper header {
	background: url("images/header-bg.png") repeat;
}

#wrapper header h1 {
	display: inline;
	float: left;
	text-transform: uppercase;
	font-size: 16px;
	vertical-align: middle;
	padding: 8px 8px 8px 15px;
}

#wrapper #nav ul {
	display: inline;
	float: right;
	margin-right: 10px;
	padding-top: 5px;
}

#wrapper #nav ul li {
	display: inline;
	margin: 10px;
}

#wrapper #searchBar {
	background: black;
	padding: 8px;
	color: lightgray;
	font-size: 14px;
}

#wrapper #searchBar a {
	text-decoration: none;
	color: lightgray;
}

#wrapper #searchBar #archives {
	display: inline;
	float: left;
}

#wrapper #searchBar #search {
	display: inline;
	float: right;
}

#wrapper #content {
	font-size: 14px;
}

#wrapper #content h1 {
	font-size: 24px;
}