html, body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 5px;
	color: #575e5b;
}

.clear {
	clear: both;
}

#wrapper header {
	background: repeating-linear-gradient(to right, #f6f5e9, white 8px);
}

#wrapper header > h1 {
	text-transform: uppercase;
	font-size: 16px;
	margin: 0;
	float: left;
	padding: 25px;
}

#nav {
	float: right;
}

#nav ul li {
	display: inline-block;
	padding: 10px;
}

#searchBar {
	background: black;
	padding: 10px;
	color: #f6f5e9;
	font-size: 14px;
}

#archives {
	float: left;
}

#search {
	float: right;
}

#archives a, #search a {
	text-decoration: none;
	color: #f6f5e9;
}

#content {
	font-size: 14px;
}

#content > h1 {
	font-size: 24px;
}